.header{
    background-color: rgb(189, 156, 219);
    height: 64px;
    width: 100%;
}
*{
  list-style: none;
}
.content{
  margin-top: 64px;
}
.navbar li {
    list-style-type: none;
    display: inline-block;
}
.btn_navbar-items{
    height: 64px;
    line-height: 64px;
    color: #fff;
    width: 100px;
}
.btn_navbar-items:hover{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.list_diff_page ul li{
    list-style-type: none;
  }
  .list_diff_page_items:hover{
    background-color: rgba(183, 183, 183, 0.5);
    color: #000;
  }
  .footer_menu{
    margin-left: 40%;
  }
  .menu-list{
    background-color: #333;
  }
 .list-choose{
    border: 5px solid #cdcccc;
    width: 70%;
    height: 100px;
 }
  .list-choose-items{
    border-right: 5px solid #cdcccc;
    width: calc(100%/5);
  }
  .list-choose-items:hover{
    background-color: #fff;
    border-radius: 40px;
    border: 5px solid #7fe683 ;
    transform: scale(1.6);
  }
  .list-choose-items:hover .icon_hov{
    display: inline;
    font-size: 30px;
  }
  .icon_hov{
    display: none;
  }
  .list-choose-items-last{
    border: 0;
  }
  .first-col{
    margin-top: 40px;
  }
  .card-top-header1{
    background-color: #8a8a8a;
    border-top-left-radius: 10px;border-top-right-radius: 10px;
  }
  .card-bot-header1{
    background-color: #d3d1d1;

  }
  .card{
    border-radius: 10px;
  }
  .money{
    font-size: 100px;
  }
  .ask-items:hover{
    background-color: #7f7d7d;
    color: #fff;
    line-height: 40px;
  }
  .ask-items:hover .ic-ask{
    color: #000;
  }
  .card-top-header2{
    border-top-left-radius: 10px;border-top-right-radius: 10px;
    background-color: rgb(126, 217, 8);
  }
  .card-bot-header2{
    background-color: rgb(151, 240, 83);
  }
  .bt-greeen{
    background-color: rgb(126, 217, 8);
  }
  .card{
    border: 1px solid ;
  }

  .card1{
    border-color: #8a8a8a;
  }
  .card2{
    border-color: rgb(126, 217, 8);

  }
  @media screen and (min-width:426px) {
    .btn_menu{
        margin-top: 8px;
    }
    
}
